In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
'''
DATA DESCRIPTION

1- mpg (miles per galon) / continuous
2- cylindres / multi-valued discrete
3- displacement / continuous
4- horsepower / continuous
5- weight / continuous
6- acceleration / continuous
7- model year / multi-valued discrete
8- origin / multi-valued discrete

'''

'\nDATA DESCRIPTION\n\n1- mpg (miles per galon) / continuous\n2- cylindres / multi-valued discrete\n3- displacement / continuous\n4- horsepower / continuous\n5- weight / continuous\n6- acceleration / continuous\n7- model year / multi-valued discrete\n8- origin / multi-valued discrete\n\n'

In [4]:
#We are looking at the five first columns of our data
car_data = pd.read_csv('car_data.csv')
car_data.head(5)

,mpg,cylindres,displacement,horsepower,weight,acceleration,model_year,origin
0,26.0,4,97.0,46,1835,20.5,70,2
1,26.0,4,97.0,46,1950,21.0,73,2
2,44.3,4,90.0,48,2085,21.7,80,2
3,43.4,4,90.0,48,2335,23.7,80,2
4,43.1,4,90.0,48,1985,21.5,78,2

In [5]:
#Describe the overall data
car_data.describe()

,mpg,cylindres,displacement,horsepower,weight,acceleration,model_year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [29]:
#axis = 1 means that we are using the columns
#* if it was 0 we would have used the rows 
X = car_data.drop('mpg', axis =1)

#foccussed data (mpg) 
y = car_data['mpg']

from sklearn.model_selection import train_test_split

#Test = 20% of training data
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=0)

from sklearn.tree import DecisionTreeRegressor

decision_regressor = DecisionTreeRegressor(max_depth=5)

decision_regressor.fit(X_train, y_train)

y_pred = decision_regressor.predict(X_test)

df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

     Actual  Predicted
144    21.0  26.667742
280    25.0  23.460000
68     34.5  33.818182
372    11.0  15.714286
328    14.0  15.714286
..      ...        ...
100    41.5  32.500000
64     29.0  29.884615
55     29.5  33.818182
260    21.5  23.460000
214    19.0  23.460000

[79 rows x 2 columns]

In [30]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2.431064487185233
Mean Squared Error: 13.000359013953533
Root Mean Squared Error: 3.605601061397882